COMPOSE_PROJECT_NAME=express-auth

# randomBytes(64)
TOKEN_SECRET='9c78cf4e2f7e33c9bf3cac920f92c20751fb68423839a1ca9d7403863e0c9ba15e9dc5a029645c4cb9d52bf369ca35820e5868a00da0efc645b115cba720b450'
COOKIE_SECRET='577ad880e919c2e78a9f14653fedf0bcde690e0091c050ef16678f737ff60f525b7dbab9086cd930a304b5a4924db2c83ae876f2fec1d5c646aa39e6b4f78ab4'
# randomBytes(24)
ENCRYPTION_KEY='bf03fa59de43e4a1be8874308c4186e242d4a29ddefd1858'
# randomBytes(16)
INITIALIZATION_VECTOR='1365d85eaee1155c609a1c226e78c8a9'

# The tokens above are generated with the node:crypto module. Run crypto.randomBytes(64).toString('hex')


UID=1000
GID=1000
HOST=localhost

# * mongo
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword
MONGO_INITDB_DATABASE=authdb

# * postgres
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=password
POSTGRES_DATA_DIR=./.cip/data/postgres_data

# * traefik
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
GATEWAY_PORT=8090

# * keycloak
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
KC_LOG_LEVEL=info
KC_DB=postgres
KC_DB_URL_HOST=postgres
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=password
KC_DB_SCHEMA=public
KC_HOSTNAME=https://$HOST/auth
KC_HOSTNAME_STRICT=false
KC_PROXY=edge
# Add here the KEYCLOAK_USER
KC_BOOTSTRAP_ADMIN_USERNAME=bootadmin
# Add here the KEYCLOAK_PASSWORD
KC_BOOTSTRAP_ADMIN_PASSWORD=bootpassword

# * api
PORT=7000
KEYCLOAK_BASEURL=keycloak
MONGO_URI=mongodb://$MONGO_INITDB_ROOT_USERNAME:$MONGO_INITDB_ROOT_PASSWORD@mongodb:27017/$MONGO_INITDB_DATABASE?authSource=admin
KC_URL="http://keycloak:8080"
KC_REALM="auth-tool"
KC_CLIENT_ID="admin-app"
KC_CLIENT_SECRET="a-super-client-secret"
NODE_EXTRA_CA_CERTS=/usr/src/app/certs/rootCA.pem
